# Dependências do Node (qualquer nível)
**/node_modules/
**/dist/
**/dist-ssr/
*.local

# PlatformIO & C++ (qualquer nível)
**/.pio/
**/.vscode/
*.ipch
*.db

# Ficheiros de sistema e logs
*.log
.DS_Store
Thumbs.db
desktop.ini